main {
  display: grid;
  grid-template-areas: 
    ".  topbar   ."
    ".  content  ."
    ".  footer   .";
}

header {
  grid-area: topbar;
}

section {
  grid-area: content;
}

footer {
  grid-area: footer;
}

#profile_pic {
  border-radius: 50%;
}